extends ./layout.pug
block content
  
  .brred.dvbk
    .col-md-3
      .tit
        | link-uri utile
    .col-md-5
      .tit
        | Ultimile noutăţi
    .col-md-4
      .tit
        | fff
  .clearfix
  .brred.dvbk
    .col-md-4
      .tit
        | link-uri utile
    .col-md-8
      .tit
        | Ultimile noutăţi
  .clearfix
  .brred.dvbk
    .col-md-8
      .tit
        | link-uri utile
    .col-md-4
      .tit
        | Ultimile noutăţi
  .clearfix
