extends ./layout.jade
    
block content
  
  .brred.dvbk
    .col-md-4
      .tit
        | link-uri utile
    .col-md-8
      .tit
        | Ultimile noutăţi
        
         h1=news.title
         p=news.description
  .clearfix
  
