extends ./layout.jade
    
block content
  
  .brred.dvbk
    .col-md-4
      .tit
        | link-uri utile
    .col-md-8
      .tit
        | Ultimile noutăţi
  .clearfix
  .brred.dvbk
    .col-md-8
      .tit
        | link-uri utile
    .col-md-4
      .tit
        | Ultimile noutăţi
  .clearfix
